<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Gestión de Alumnos</title>
    <%- include('../partials/styles'); %>
</head>
<body>
<%- include('../partials/nav-bar'); %>


<div id="layoutSidenav">
    <%- include('../partials/side-nav'); %>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">

                <div class="card m-4">
                    <div class="card-header">
                        <h3 class="h3">
                            Lista de Alumnos
                        </h3>
                    </div>
                    <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-success" style="width: 180px; height: 50px;" data-toggle="modal" data-target="#miModal">
                          <i class="fas fa-plus-square"></i></i> Agregar Alumno
                        </button>
                      </div>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Mi Modal</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <form action="/Alumnos/Store" method="post">
                                    <div class="row">
                                      <div class="col-md-6">
                                       <div class="form-group p-2">
                                                                            <label ><font color="red">*</font>Matrícula:</label>
                                                                            <input  name="matricula" type="text" class="form-control" placeholder="" required>
                                                                        </div>
                                        
                                                                        <div class="form-group p-2">
                                                                            <label ><font color="red">*</font>Nombre:</label>
                                                                            <input  name="nombre" type="text" class="form-control" placeholder="" required>
                                                                        </div>
                                        
                                                                        <div class="form-group p-2">
                                                                            <label ><font color="red">*</font>Apellido Paterno:</label>
                                                                            <input name="apellido_paterno" type="text" class="form-control"  placeholder="" required>
                                                                        </div>
                                        
                                                                        <div class="form-group p-2">
                                                                            <label ><font color="red">*</font>Apellido Materno:</label>
                                                                            <input name="apellido_materno" type="text" class="form-control" placeholder="" required>
                                                                        </div>
                                                                        
                                        <div class="form-group p-2">
                                            <label ><font color="red">*</font>Genero:</label>
                                            <select name="genero" class="form-select" >
                                                <option value="1">
                                                    Masculino
                                                </option>
                                                <option value="2">
                                                    Femenino
                                                </option>
                                            </select>
                                        </div>
                                
                                
                                      </div>
                                      <div class="col-md-6">
                                       
                                
                                        
                                                                        <div class="form-group p-2">
                                                                            <label ><font color="red">*</font>Fecha Nacimiento:</label>
                                                                            <input name="fecha_nacimiento" type="date" class="form-control" placeholder="" required>
                                                                        </div>
                                        
                                        
                                                                        <div class="form-group p-2">
                                                                            <label ><font color="red">*</font>Calle:</label>
                                                                            <input name="calle" type="text" class="form-control" placeholder="" required>
                                                                        </div>
                                        
                                        
                                                                        <div class="form-group p-2">
                                                                            <label ><font color="red">*</font>Colonia:</label>
                                                                            <input name="colonia" type="text" class="form-control" placeholder="" required>
                                                                        </div>
                                        
                                                                        <div class="form-group p-2">
                                                                            <label ><font color="red">*</font>Número:</label>
                                                                            <input name="numero" type="text" class="form-control" placeholder="" required>
                                                                        </div>
                                
                                      </div>
                                    </div>
                                
                                    <!-- Botones de acción -->
                                    <div class="row mt-4">
                                      <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary">
                                          <i class="fa fa-save"></i> Guardar
                                        </button>
                                        <a href="/Alumnos" class="btn btn-danger">
                                          <i class="fa fa-undo"></i> Cancelar
                                        </a>
                                      </div>
                                    </div>
                                  </form>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    <div class="card-body">

                        <% if (newRegister && data){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-success" role="alert">
                                        Se ha creado un nuevo Alumno con id: <%= data.id %>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                            <% if (updateRegister && data){ %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-info" role="alert">
                                            Se ha actualizado el alumno Alumno con id: <%= data.id %>
                                        </div>
                                    </div>
                                </div>
                            <% } %>

                        <div class="table-responsive-md ">
                            <table class="table table-striped table-bordered">
                                <thead class="table-dark text-center">
                                <tr>
                                    <th>ID</th>
                                    <th>Matricula</th>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>

                                <tbody class="table-light text-center">

                                <% if (alumnos) { %>
                                    <% for (let i = 0; i < alumnos.length; i++) { %>
                                        <% alumno = alumnos[i] %>
                                        <tr>
                                            <td><%= alumno.id %></td>

                                            <td><%= alumno.matricula %></td>
                                            <td><%= alumno.nombre %></td>
                                            <td><%= alumno.apellido_paterno %></td>
                                            <td><%= alumno.apellido_materno %></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a class="btn btn-sm btn-outline-primary"
                                                           href="/Alumnos/<%= alumno.id %>/Editar"
                                                        >
                                                            <i class="fa fa-pencil"></i>
                                                            Editar
                                                        </a>
                                                    </div>
                                                    <div class="col-md-12">

                                                        <a class="btn btn-sm btn-outline-danger delete-button"
                                                           data-id="<%= alumno.id%>">
                                                            <i class="fa fa-trash"></i>
                                                            Eliminar
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </main>

        <%- include('../partials/footer'); %>
    </div>
</div>


<%- include('../partials/scripts'); %>

<script>
    $(document).ready(function() {
        $('.delete-button').click(function() {
            const id = $(this).data('id');

            Swal.fire({
                title: 'Está seguro?',
                text: "Esta acción no se puede deshacer",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: `/Alumnos/${id}/Eliminar`,
                        type: 'DELETE',
                        success: function(data) {
                            alert(data.message); // Muestra un mensaje de éxito
                            location.reload();   // Recarga la página después de la eliminación
                        },
                        error: function(xhr, status, error) {
                            alert('Error al eliminar el registro');
                        }
                    });
                }
            })
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
