<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Document</title>
    <%- include('partials/styles'); %>
</head>
<body>
<%- include('partials/nav-bar'); %>


<div id="layoutSidenav">
    <%- include('partials/side-nav'); %>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">





            </div>
        </main>

        <%- include('partials/footer'); %>
    </div>
</div>


<%- include('partials/scripts'); %>
</body>
</html>
